.project-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title-container {
    text-align: center;
    padding: 1.5rem;
}

.project-title {
    border-bottom: 4px solid #98ffd4;
    display: inline-block;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: white;
}

.cards-wrapper {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
